@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Global Variables */
*{
  font-family: 'Poppins', sans-serif;
}

/* colors */
$white-color: #F9F9F9;
$grey-color: #A6A6A6;
$black-color: #0D0D0D;
$primary-color: #011C40;
$secondary-color: #011126;
$tertiary-color: #035AA6;
$quaternary-color: #048ABF;
$warning-color: #F2D22E;
$danger-color: #F22233;

/* paddings */
$global-padding: 10px 20px 20px 20px;

/* borders */
$radius-one: 12px;

/* font sizes */
$font-size-one: 14px;
$font-size-two: 16px;
$font-size-three: 18px;
$font-size-four: 20px;
$font-size-five: 22px;