@import '../../../../styles/variables.scss';

.progress-bar {
    display: flex;
    width: 100%;

    &__line {
        background: $secondary-color;
        border-radius: 20px;
        height: 12px;
    }

    .completed {
        width: 100%;
    }
    
    .half {
        width: 50%;
    }
    
    .init {
        width: 5%;
    }

}



