@import '../../../../styles/variables.scss';

.progress-bar {
    display: flex;
    width: 100%;

    &__line {
        background: $secondary-color;
        border-radius: 20px;
        height: 12px;
    }

    .completed { width: 100%; }
    .ninety { width: 90%; }
    .eighty { width: 80%; }
    .seventy { width: 70%; }
    .sixty { width: 60%; }
    .fifty { width: 50%; }
    .forty { width: 40%; }
    .thirty { width: 30%; }
    .twenty { width: 20%; }
    .ten { width: 10%; }
    .init { width: 5%; }

}



