@import '../../../../styles/variables.scss';

.okr-card {
    background-image: url('/assets/img/universe03.jpeg');
    border-radius: $radius-one;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: $global-padding;

    &:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    
    &__objective {
        color: $white-color;
        letter-spacing: 1px;
        font-weight: 600;
    }
}

.btn {
    background: rgba(0,0,0,0.0);
    border-radius: $radius-one;
    padding: 10px;

    &:hover {

    }
}


